SWARM_DESCRIPTION = {
  "includedFields": <INCLUDED_FIELDS>,
  "streamDef": {
    "info": "cellular_automaton_rule_<RULE_NUMBER>",
    "version": 1,
    "streams": [
      {
        "info": "Cellular Automaton input",
        "source": "file://<SOURCE_FILE>",
        "columns": [
          "*"
        ]
      }
    ]
  },

  "inferenceType": "TemporalMultiStep",
  "inferenceArgs": {
    "predictionSteps": [
      1
    ],
    "predictedField": "<PREDICTED_FIELD>"
  },
  "iterationCount": 2000,
  "swarmSize": "medium"
}
